@import "https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css";

.title {
  font-family: "Playfair Display SC";
}

.is-full-cell {
  grid-column: 1/-1;
}

.is-secondary-font {
  font-family: "Playfair Display SC";
  font-weight: bold;
}

.shrink {
  width: 2em;
}

.shopping-cart {
  display: inline-flex;
  align-items: center;
  line-height: 1rem;
}

#notifications {
  position: absolute;
  right: 0;
  width: 25em;
  z-index: 9999;
}

.counter {
  border-radius: 6px;
}

.radio-button>input[type="radio"] {
  opacity: 0;
  z-index: 100;
}

.radio-button>input[type="radio"]:checked+label {
  background-color: var(--bulma-primary-soft);
}